@font-face {
    font-family: gameFont;
    src: url(../Atarian/SF\ Atarian\ System.ttf);
}
body {
    background-image: url(../images/background_img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: gameFont;
    color: white;
    text-align: center;
}
.hide{
    display: none !important;
}
h1 {
    font-size: 60px;
}
#back {
    height: 60px;
}
.category {
    margin: 10px 0px;
}
.catBtn {
    margin: 10px 10px;
    padding: 5px;
    font-size: 20px;
}
.difBtn {
    margin: 10px 10px;
    padding: 5px;
    font-size: 20px;
}
#question {
    margin: 10px 0px;
}
.ansBtn {
    margin: 25px 0px;
    padding: 10px;
    font-size: 20px;
}
#timer{
    color: red;
    font-weight: bold;
}
#alertModal{
    color: black;
}
.green {
    font-size: 25px;
    color: green;
}
.red {
    font-size: 25px;
    color: red;
}

#play-again {
    margin: 25px 0px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
p {
    font-size: 30px;
}